/* Universal Selector */
*{
  color: red;
}

/* Element Selector */
h2{
  background-color: teal;
}
/* p{
  background-color: yellowgreen;
} */
/* a{
  background-color: yellow;
} */

/* class Selecotor */

.keigo{
  background-color: magenta;
}

.jun{
  font-size: 40px;
  color: green;
}

/* ID selector */
#logo-name{
  text-align: center;
  font-size: 50px;
}

/* ,(and) Selector */
ol,ul,.yasuko{
  background-color: thistle;
}

/* space descendant Selector*/

div p span{
  background-color: coral;
}
div h3,div a{
  background-color: chartreuse;
}
